body {
    background-color: #fffaf5;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 7vw;
    overflow-y: scroll;
    background-color: #fffaf5;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

sub {
    margin-bottom: 5vh;
}

.form-group {
    margin-bottom: 2vh;
}

label {
    display: block;
    margin-bottom: 1vh;
}

select {
    background-color: #ecf7f2;
}

input,
textarea,
select {
    width: 80vw;
    padding: 2vw;
    border: 1px solid #a1c9bb;
    border-radius: 4px;
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
    font-family: "Arimo", sans-serif;
}

#description {
    height: 20vh;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 4rem;
}

.buttons > * {
    width: 23rem;
    padding: 1vh 5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #254a3d;
    color: #fffaf5;
}

.btn-secondary {
    background-color: #bad6cb;
    color: #254a3d;
}

.btn-primary:active,
.btn-secondary:active {
    filter: brightness(80%);
}

.range-values {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

#radius {
    width: 70vw;
}

/* Upload file */
.file-input-wrapper {
    position: relative;
    border: 1px solid #DADCE0;
    border-radius: 8px;
    padding: 3vw;
    text-align: center;
    background-color: #F9F9F9;
    cursor: pointer;
}

.file-input-wrapper:hover {
    background-color: #F1F1F1;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    padding: 0 !important;
}

#image {
    padding: 0;
}

.upload-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.file-instructions {
    color: #787878;
    font-size: 14px;
}

.file-instructions .highlight {
    color: #cd9448;
    font-weight: bold;
}
