.multiselect {
    border: none;
    width: 70vw;
}

.multiselect__tags {
    border: 1px solid #a1c9bb;
    background-color: #fff;
}

.multiselect__placeholder {
    display: flex;
    align-items: center;
    color: #254a3d;
    font-size: 1rem;
}

.multiselect__placeholder img {
    padding-right: .8rem;
}